<phpunit>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <report>
            <html outputFile="build/coverage/index.html"/>
        </report>
    </coverage>
</phpunit>